/* Каталог Дополнительные товары*/
.additional-items__wrapper {
  @media (min-width: $tablet-width) {
    background-image: url("../images/decoration/decorative-line_long.svg");
    background-repeat: no-repeat;
    background-position: -20px 21px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../images/decoration/decorative-line_long.svg");
    width: 1451px;
    background-repeat: no-repeat;
    background-position: -20px 21px;
    background-size: 1452px 3px;
  }
}

.additional-items {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1444px;
    height: 405px;
    padding: 0;
    margin-top: 70px;
    margin-right: 110px;
    margin-left: 3px;
  }
}

/*Заголовок*/
.additional-items__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  color: $catalog-title-color;
  width: 301px;
  margin-top: -12px;
  margin-bottom: 23px;
  padding-left: 20px;
  text-align: left;
  background-image: url("../images/decoration/decorative-line.svg");
  background-repeat: no-repeat;
  background-position: 267px 11px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 375px;
    margin: 0 363px 75px 74px;
    background-image: none;
    background-color: #fff;
    margin-left: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    width: 375px;
    margin: 0 auto;
    margin-left: 72px;
    margin-right: 0;
    margin-bottom: 73px;
    margin-top: 0;
    padding: 0;
    padding-left: 68px;
    background-color: #fff;
    padding-left: 36px;
  }
}

/*Блок с товарами*/
.additional-items__goods {
  display: block;
  border-top: 1px solid $border-color-second;
  padding-top: 11px;
  margin-bottom: -10px;
  width: 282px;
  margin-left: 20px;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 162px;
    margin-bottom: 2px;
    margin-left: 39px;
    width: 655px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 20px;
    width: 899px;
    height: 40px;
    justify-content: space-between;
  }
}

.additional-items__list {
  @media (min-width: $tablet-width) {
    width: 708px;
    border: 1px solid $border-color-main;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 894px;
    height: 288px;
    border: none;
    margin-left: 104px;
  }
}

/*Список Заголовок товаров*/
.additional-items__title-list {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $catalog-goods-font-size;
  line-height: $catalog-goods-line-height;
  text-transform: uppercase;
  color: $catalog-items-color;
  width: 226px;
  text-align: left;
  margin-bottom: 6px;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: $catalog-goods-font-size-tablet-desktop;
    line-height: $catalog-goods-line-height-tablet-desktop;
    margin-right: 147px;
  }

  @media (min-width: $desktop-width) {
    font-size: $catalog-goods-font-size-tablet-desktop;
    line-height: $catalog-goods-line-height-tablet-desktop;
    margin-right: 0;
    width: 161px;
  }
}

/*Описание*/
.additional-items__description {
  margin-bottom: 9px;
  width: 282px;
  justify-content: space-between;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    margin-top: 20px;
    font-size: 16px;
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
    margin-top: 20px;
    margin-left: 156px;
    font-size: 16px;
    width: 324px;
  }
}

.additional-items__colum-1 {
  text-align: left;
  font-family: "Arial", "Oswald", sans-serif;

  @media (min-width: $tablet-width) {
    width: 132px;
    padding-left: 30px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 132px;
    padding-left: 0;
    padding-right: 2px;
  }
}

.additional-items__colum-2 {
  text-align: right;
  font-family: "Arial", "Oswald", sans-serif;

  @media (min-width: $desktop-width) {
    padding-right: 36px;
  }
}

/*Кнопка Заказать*/
.additional-items__button-card {
  background-color: $catalog-button-background-color;
  border: none;
  margin-top: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $catalog-goods-font-size;
  line-height: 20px;
  text-transform: uppercase;
  color: $catalog-color-button-text;
  padding: 10px 109px 10px 109px;
  margin-bottom: 19px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: $catalog-goods-font-size;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    font-size: $catalog-goods-font-size;
    width: 244px;
    text-align: center;
    padding: 0;
    height: 40px;
    margin-bottom: 0;
    margin-top: 9px;
  }

  &:hover {
    background: #5eaa2f;
  }

  &:active {
    background: #5eaa2f;
  }
}
