/*Форма Контактные данные*/

/*Контактные данные*/
.cat-contacts {
  display: flex;
  margin: 26px 20px 15px 20px;
  width: 300px;

  @media (min-width: $tablet-width) {
    margin: 0 187px 71px 0;
    display: block;
    width: 767px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-top: 0;
    margin-right: 818px;
    margin-bottom: 52px;
    margin-left: -109px;
    flex-direction: row;
    width: 1512px;
  }
}

.cat-contacts__wrapper {
  background-image: url("../images/decoration/decorative-line_long.svg");
  background-repeat: no-repeat;
  background-position: 200px 15px;
  background-size: 99px 2px;
  width: 300px;

  @media (min-width: $tablet-width) {
    width: 769px;
    background-position: -5px 24px;
    background-size: 1143px 2px;
    background-image: url("../images/decoration/decorative-line_long.svg");
  }

  @media (min-width: $desktop-width) {
    width: 1441px;
    background-position: -5px 24px;
    background-size: 1444px 3px;
  }
}

/*Заголовок*/
.cat-contacts__title {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-subtitle-font-size;
  line-height: $form-subtitle-line-height;
  text-transform: none;
  color: $form-subitle-color;
  padding: 0;
  margin-bottom: 35px;
  width: 200px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-bottom: 76px;
    width: 554px;
    margin-top: 0;
    margin-left: 38px;
    background-color: #fff;
    padding-left: 33px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-bottom: 70px;
    margin-left: 79px;
    margin-top: 54px;
  }
}

.cat-contacts__main {
  @media (min-width: $tablet-width) {
    display: block;
    flex-direction: row;
    margin-left: 67px;
    width: 655px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    margin-left: 111px;
  }
}

/*Форма*/
.cat-contacts__form {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    display: flex;
    height: 52px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 640px;
    margin-left: 0;
    margin-top: 0;
  }
}

/*E-mail*/
.cat-contacts__email {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin-right: 11px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 42px;
    margin-right: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 42px;
    margin-right: 22px;
    width: 64px;
  }
}

/*E-mail форма*/
.cat-contacts__field-email {
  width: 201px;
  height: 45px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding-left: 15px;
  background-image: url("../images/icon/icon_email.svg");
  background-repeat: no-repeat;
  background-position: 185px 16px;
  border: 1px solid $border-color-main;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 534px;
    background-position: 512px 18px;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 460px;
    background-position: 446px 17px;
    margin-left: 0;
    margin-right: 70px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }
}

/*Телефон*/
.cat-contacts__phone {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin-right: 11px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 69px;
    margin-left: 8px;
  }
}

/*Телефон поле*/
.cat-contacts__field-phone {
  width: 185px;
  height: 45px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding-left: 15px;
  background-image: url("../images/icon/icon_phone.svg");
  background-repeat: no-repeat;
  background-position: 169px 11px;
  border: 1px solid $border-color-main;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 517px;
    background-position: 500px 20px;
    padding-left: 19px;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 460px;
    background-position: 442px 20px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }
}

/*Состояние при ошибке*/
.cat-contacts__field-error {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 43px;
  width: 204px;
  margin-bottom: 13px;
  cursor: pointer;
  border-color: #ff8282;
}
