/*Форма Комментарии*/

.cat-comments {
  @media (min-width: $tablet-width) {
    width: 200px;
  }
}


.cat-comments__title {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-subtitle-font-size;
  line-height: $form-subtitle-line-height;
  text-transform: none;
  color: $form-subitle-color;
  width: 121px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 37px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-left: 40px;
    margin-bottom: 74px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-left: 0;
    margin-bottom: 76px;
  }
}

.cat-comments__form {
  @media (min-width: $tablet-width) {
    width: 631px;
  }

  @media (min-width: $desktop-width) {
    width: 1196px;
  }
}

.cat-comments__text {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  width: 253px;
  text-align: left;
  margin-left: 32px;
  text-transform: uppercase;
  padding-top: 5px;
  resize: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 38px;
    padding-top: 10px;
    padding-left: 19px;
    width: 627px;
    height: 162px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 0;
    width: 1220px;
  }
}
