/*Форма заявки*/

.cat-data {
  @media (min-width: $desktop-width) {
    margin-left: 107px;
    width: 1278 px;
  }
}

/*Форма Имя, вес, возраст*/
.cat-data__form {
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  width: 280px;
  margin-left: 0;
  height: 46px;
  margin-top: 11px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    min-width: 630px;
    margin-left: 0 auto;
    margin-bottom: 20px;
    margin-top: 0 auto;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 569px;
    margin-left: 0 auto;
    margin-bottom: 19px;
    margin-top: 0 auto;
    height: 52px;
    text-align: left;
  }
}

/*Имя*/
.cat-data__name {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 11px;
  }
}

/* Имя поле*/
.cat-data__field-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 46px;
  width: 200px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    min-width: 546px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 506px;
  }
}

/*Вес*/
.cat-data__weight {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 8px;
  }
}

/*Вес поле*/
.cat-data__field-weight {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 43px;
  width: 178px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    min-width: 518px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 490px;
  }
}

/*Возраст*/
.cat-data__age {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 7px;
  }
}

/*Возраст поле*/
.cat-data__field-age {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 43px;
  margin-bottom: 13px;
  width: 139px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    min-width: 469px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 430px;
    height: 46px;
  }
}
