/* Форма - цель*/

/* Похудение, набор массы, не знаю*/
.cat-goal {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $form-goal-color;
  padding: 0;
  margin-left: 32px;
  margin-bottom: 27px;
  margin-top: 0;
  height: 158px;
  border-top: 1px solid $border-color-second;
  border-bottom: 1px solid $border-color-second;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 74px;
    min-width: 628px;
    margin-left: 71px;
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 628px;
    height: 194px;
    border: 2px solid $border-color-third;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 667px;
    margin-top: -265px;
    height: 200px;
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 568px;
  }
}

/*Список общий ul */
.cat-goal__list {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 30px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    padding-left: 30px;
    width: 568px;
  }
}

/* Список li*/
.cat-goal__item {
  margin-bottom: 13px;
  height: 31px;
  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

/*Радиокнопки*/
/*Кнопка*/
.cat-goal__goal {
  padding-left: 0;
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid $border-color-main;
  background-color: $form-background-color;
  margin-top: -6px;
  margin-left: -13px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }
}

/*Скругление углов*/
.control-input[type="radio"] + .cat-goal__goal {
  border-radius: 50%;
}

/*Состояние для выбранно радиокнопки - точка внутри*/
.control-input[type="radio"]:checked + .cat-goal__goal::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 20px;
    height: 20px;
  }
}
