/*Форма заявки*/

.cat-data {
  @media (min-width: $desktop-width) {
    margin-left: 107px;
    width: 1278 px;
  }
}

/*Форма Имя, вес, возраст*/
.cat-data__form {
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  width: 280px;
  margin-left: 0;
  height: 46px;
  margin-top: 11px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    min-width: 630px;
    margin-left: 0 auto;
    margin-bottom: 23px;
    margin-top: 13px;
    height: 52px;
    width: 637px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 569px;
    margin-left: 0 auto;
    margin-bottom: 19px;
    margin-top: 0 auto;
    height: 52px;
    text-align: left;
  }
}

/*Имя*/
.cat-data__name {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 11px;
  }
}

/* Имя поле*/
.cat-data__field-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 43px;
  width: 204px;
  margin-bottom: 13px;
  cursor: pointer;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    min-width: 546px;
    height: 49px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 506px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }
}

/*Вес*/
.cat-data__weight {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 8px;
  }
}

/*Вес поле*/
.cat-data__field-weight {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 40px;
  width: 182px;
  margin-bottom: 13px;
  cursor: pointer;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    min-width: 518px;
    padding-left: 18px;
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 490px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }
}

/*Возраст*/
.cat-data__age {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 15px;
    height: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 7px;
  }
}

/*Возраст поле*/
.cat-data__field-age {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 38px;
  margin-bottom: 13px;
  width: 149px;
  cursor: pointer;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 476px;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 430px;
    height: 46px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }
}
