/*Форма Контактные данные*/

/*Контактные данные*/
.cat-contacts {
  display: flex;
  margin: 26px 20px 15px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 187px 50px 40px;
    float: left;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-top: 0;
    margin-right: 818px;
    margin-bottom: 50px;
    margin-left: -180px;
    flex-direction: row;
    min-width: 1220px;
  }
}

.cat-contacts__wrapper {
  @media (min-width: $desktop-width) {
    min-width: 1220px;
  }
}

/*Заголовок*/
.cat-contacts__title {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-subtitle-font-size;
  line-height: $form-subtitle-line-height;
  text-transform: none;
  color: $form-subitle-color;
  padding: 0;
  margin-bottom: 35px;
  width: 187px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-bottom: 71px;
    width: 512px;
    margin-top: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-bottom: 65px;
    margin-left: 177px;
    margin-top: 0;
  }
}

.cat-contacts__main {
  @media (min-width: $tablet-width) {
    display: block;
    flex-direction: row;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    margin-left: 180px;
  }
}

/*Форма*/
.cat-contacts__form {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    display: flex;
    height: 52px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 640px;
    margin-left: 0;
    margin-top: 0;
  }
}

/*E-mail*/
.cat-contacts__email {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin-right: 11px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 42px;
    margin-top: -10px;
    margin-right: 22px;
    width: 64px;
  }
}

/*E-mail форма*/
.cat-contacts__field-email {
  width: 201px;
  height: 45px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding-left: 15px;
  background-image: url("../images/icon/icon_email.svg");
  background-repeat: no-repeat;
  background-position: 182px 17px;
  border: 1px solid #cdcdcd;
  float: right;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 551px;
    background-position: 522px 17px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 486px;
    margin-top: -10px;
    background-position: 446px 17px;
  }
}


/*Телефон*/
.cat-contacts__phone {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin-right: 11px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 69px;
    margin-left: 8px;
  }
}

/*Телефон поле*/
.cat-contacts__field-phone {
  width: 185px;
  height: 45px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding-left: 15px;
  background-image: url("../images/icon/icon_phone.svg");
  background-repeat: no-repeat;
  background-position: 167px 11px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 530px;
    background-position: 500px 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 460px;
    background-position: 442px 20px;
  }
}
