/*Форма Комментарии*/

.cat-comments {
  background-image: url("../images/decoration/decorative-line.svg");
  background-repeat: no-repeat;
  background-position: 162px 15px;
  background-size: 158px 2px;

  @media (min-width: $tablet-width) {
    width: 767px;
    background-position: 2px 22px;
    background-size: 1503px 3px;
  }

  @media (min-width: $desktop-width) {
    width: 1444px;
    margin-left: -106px;
    background-position: 2px 22px;
    background-size: 1503px 4px;
  }
}


.cat-comments__title {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-subtitle-font-size;
  line-height: $form-subtitle-line-height;
  text-transform: none;
  color: $form-subitle-color;
  width: 300px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 37px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-left: 33px;
    margin-bottom: 74px;
    margin-right: 0;
    background: #ffffff;
    padding-left: 34px;
    width: 222px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-left: 71px;
    margin-bottom: 76px;
  }
}

.cat-comments__form {
  @media (min-width: $tablet-width) {
    width: 631px;
  }

  @media (min-width: $desktop-width) {
    width: 1196px;
  }
}

.cat-comments__text {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $form-color-text-comments;
  width: 262px;
  text-align: left;
  margin-left: 24px;
  text-transform: uppercase;
  padding-top: 5px;
  resize: none;
  padding-left: 12px;
  border: 1px solid $border-color-main;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 69px;
    padding-top: 10px;
    padding-left: 19px;
    width: 608px;
    height: 162px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 86px;
    width: 1203px;
    padding-left: 36px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }
}
