/*Форма Дополнительно*/
.cat-additionally {
  width: 320px;
  background-image: url("../images/decoration/decorative-line.svg");
  background-repeat: no-repeat;
  background-position: 184px 15px;
  background-size: 158px 2px;

  @media (min-width: $tablet-width) {
    width: 768px;
    background-image: url("../images/decoration/decorative-line_long.svg");
    background-position: -1px 20px;
    background-size: 1171px 3px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1444px;
    background-image: url("../images/decoration/decorative-line_long.svg");
    background-position: -1px 20px;
    background-size: 1439px 3px;
    margin-left: -106px;
  }
}

.cat-additionally__form {
  padding-left: 0;
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 29px;
  height: 29px;
  border-radius: 0;
  border: 1px solid $border-color-main;
  background-color: $form-background-color;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 9px;
    margin-top: 0;
    width: 35px;
    height: 35px;
  }
}

/*Заголовок*/
.cat-additionally__title {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-subtitle-font-size;
  line-height: $form-subtitle-line-height;
  text-transform: none;
  color: $form-subitle-color;
  width: 121px;
  margin-left: 20px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-top: 63px;
    margin-bottom: 59px;
    width: 250px;
    margin-left: 30px;
    padding-left: 37px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-left: 72px;
  }
}

.cat-additionally__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 54px;
    width: 636px;
  }

  @media (min-width: $desktop-width) {
    width: 1196px;
    margin-left: 99px;
    margin-right: 0;
  }
}

.cat-additionally__item {
  @media (min-width: $tablet-width) {
    height: 40px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    height: 40px;
    margin-bottom: 33px;
    width: 221px;
  }
}

/*Продукты*/
.cat-additionally__product {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $form-text-color;
  margin-left: 65px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-left: 70px;
    width: 221px;
    text-align: left;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-left: 63px;
    width: 221px;
    text-align: left;
    margin-bottom: 32px;
  }
}

/*Форма - галочки*/
.cat-additionally__checkbox {
  position: relative;
  display: block;
}

.cat-additionally__checkbox:hover .cat-additionally__form {
  border-color: #bababa;
}

.input:disabled + .cat-additionally__form {
  border-color: #bababa;
}

.input[type="checkbox"]:checked + .cat-additionally__form::before,
.input[type="checkbox"]:checked + .cat-additionally__form::after {
  position: absolute;
  top: 12px;
  left: 4px;
  width: 14px;
  height: 2px;
  background-color: #68b738;
  content: "";
}

/*Галочка*/
.input[type="checkbox"]:checked + .cat-additionally__form::before {
  transform: rotate(45deg);
  top: 17px;
  left: 5px;
  width: 11px;
}

.input[type="checkbox"]:checked + .cat-additionally__form::after {
  transform: rotate(-50deg);
  top: 14px;
  left: 11px;
  width: 16px;
}
