/*Форма Контактные данные*/

/*Контактные данные*/
.cat-contacts {
  display: flex;
  margin: 26px 20px 23px 20px;

  @media (min-width: $tablet-width) {
    margin: 0px 187px 76px 69px;
  }

  @media (min-width: $desktop-width) {
    margin: 0px 818px 76px 110px;
    flex-direction: row;
    min-width: 1220px;
  }
}

.cat-contacts__wrapper {
  @media (min-width: $desktop-width) {
    min-width: 1220px;
  }
}

/*Заголовок*/
.cat-contacts__title {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-subtitle-font-size;
  line-height: $form-subtitle-line-height;
  text-transform: none;
  color: $form-subitle-color;
  padding: 0;
  margin-bottom: 35px;
  width: 187px;

  @media (min-width: $tablet-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-bottom: 76px;
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-subtitle-font-size-tablet-desktop;
    line-height: $form-subtitle-line-height-tablet-desktop;
    margin-bottom: 76px;
  }
}

.cat-contacts__main {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

/*Форма*/
.cat-contacts__form {
  display: flex;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 569px;
  }
}

/*E-mail*/
.cat-contacts__email {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin-right: 11px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 42px;
  }
}

/*E-mail форма*/
.cat-contacts__field-email {
  width: 196px;
  height: 45px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 551px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 486px;
  }
}


/*Телефон*/
.cat-contacts__phone {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin-right: 11px;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    margin-bottom: 69px;
    margin-left: 78px;
  }
}

/*Телефон поле*/
.cat-contacts__field-phone {
  width: 185px;
  height: 45px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 530px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
    width: 472px;
  }
}
