/* Форма - цель*/

/* Похудение, набор массы, не знаю*/
.cat-goal {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $form-goal-color;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 46px;
  height: 116px;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
    min-width: 628px;
    margin-left: 71px;
    height: 200px;
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
  }

  @media (min-width: $desktop-width) {
    padding-top: 319px;
    min-width: 568px;
    margin-left: 0px;
    height: 200px;
    font-size: $form-text-font-size-tablet-desktop;
    line-height: $form-text-line-height-tablet-desktop;
  }
}

/* Список общий li*/
.cat-goal__item {
  margin-bottom: 13px;
  height: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}
