/*Форма Контактные данные*/

/*Контактные данные*/
.cat-contacts {
  display: flex;
  margin: 26px 20px 23px 20px;
}

/*Заголовок*/
.cat-contacts__title {
  display: flex;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-subtitle-font-size;
  line-height: $form-subtitle-line-height;
  text-transform: none;
  color: $form-subitle-color;
  padding: 0;
  margin-bottom: 35px;
}

/*Форма*/
.cat-contacts__form {
  display: flex;
}

/*E-mail*/
.cat-contacts__email {
  display: flex;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin-right: 11px;
  padding-top: 14px;
}

/*E-mail форма*/
.cat-contacts__field-email {
  width: 196px;
  height: 45px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding-left: 15px;
}

/*Телефон*/
.cat-contacts__phone {
  display: flex;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin-right: 11px;
  padding-top: 14px;
}

/*Телефон поле*/
.cat-contacts__field-phone {
  width: 185px;
  height: 45px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  padding-left: 15px;
}
