.content {
  margin-top: 0;
  margin-left: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-top: -155px;
    margin-left: 97px;
    width: 580px;
  }

  @media (min-width: $desktop-width) {
    width: 587px;
    margin-top: 1658px;
    margin-left: 765px;
  }
}
