/*Footer*/
.contacts {
  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 768px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

/*Блок адрес заголовок и текст*/
.contacts__address {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 197px;
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #f2f2f2;

  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $footer-background-color-desktop;
    justify-content: space-between;
    margin-bottom: 56px;
    height: 198px;
    margin-top: 95px;
    margin-left: 113px;
    width: 566px;
  }
}

/*Адрес заголовок*/
.contacts__title {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $footer-contacts__title-color;
  width: 139px;
  text-align: left;
  margin-left: 19px;
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    width: 157px;
    margin-top: 60px;
    margin-left: 69px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
    margin: 54px 87px 56px 80px;
  }
}

/*Адрес текст*/
.contacts__text {
  display: flex;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: $text-color;
  width: 139px;
  text-align: left;
  margin-left: 1px;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    width: 160px;
    text-align: right;
    margin-left: 0;
    margin-top: 57px;
    margin-right: 73px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: left;
    margin: 51px 75px 63px 0;
  }
}

/*Карта*/
.contacts__map {
  width: 320px;
  height: 362px;
  background-image: url("../images/photo/contacts__map_mobile.jpg");
  background-repeat: no-repeat;
  display: block;
  border: 0;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
    background-image: url("../images/photo/contacts__map_tablet.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
    background-image: url("../images/photo/contacts__map_desktop.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-left: 0;
    margin-top: 183px;
  }
}

.contacts_pin {
  background-image: url("../images/photo/map_pin_mobile.png");
  width: 56px;
  height: 52px;
  background-repeat: no-repeat;
  margin-left: 135px;
  margin-top: 140px;
  position: absolute;

  @media (min-width: $tablet-width) {
    background-image: url("../images/photo/map_pin_tablet_desktop.png");
    width: 113px;
    height: 106px;
    margin-left: 332px;
    margin-top: 147px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../images/photo/map_pin_tablet_desktop.png");
    width: 113px;
    height: 106px;
    margin-left: 906px;
    margin-top: 131px;
  }
}
