/*.container_wrapper {

  @media (min-width: $desktop-width) {
    background-image: url("../images/decoration/decorative-line.svg");
    background-repeat: no-repeat;
    background-position: -40px 11px;
  }
}*/
