/*Footer*/

.copyright {
  display: inline;
  margin-left: 19px;
  margin-top: 22px;
  padding: 0;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
    margin-top: 5px;
    width: 199px;
    padding-top: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 99px;
    margin-top: 3px;
  }
}

.copyright__html-academy {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  width: 283px;
  text-align: left;
  margin-left: 19px;
  margin-top: 0;
  padding-top: 9px;

  .copyright__link {
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    transition: all 0.3s ease 0s;

    &:hover .copyright__logo-picture path {
      fill: #68b738;
    }

    &:active {
      opacity: 0.3;
    }

    &:active .copyright__logo-picture path {
      fill: #68b738;
    }

    @media (min-width: $tablet-width) {
      width: 164px;
    }
  }
}

.copyright__logo-picture {
  fill: #666666;
  margin-top: -5px;
}
