/*Footer*/

.copyright {
  display: flex;
  margin-left: 19px;
  margin-top: 22px;
  padding: 0;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.copyright__html-academy {
  display: flex;
  justify-content: space-between;
  width: 281px;
  height: 34px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-left: 0 auto;
    margin-top: 62px;
    width: 163px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0 auto;
    margin-top: 38px;
    width: 163px;
  }
}

.copyright__text {
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: $text-color;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 22px;
  }

   &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  margin-bottom: 1px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.copyright__logo-picture {
  fill: #666666;

  &:hover {
    fill: #68B738;
  }

  &:active {
    fill: #68B738;
    opacity: 0.3;
  }
}
