.main-footer {
  float: center;
}

/*Блок адрес заголовок и текст*/
.contacts__address {
  display: flex;
  flex-wrap: nowrap;
}

/*Адрес заголовок*/
.contacts__title {
  display: flex;
  text-align: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 139px;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

/*Адрес текст*/
.contacts__text {
  display: flex;
  text-align: center;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: $text-color;
  width: 139px;
  text-align: left;
  margin-left: 0;
  margin-top: 20px;
}

/*Карта*/
.contacts__location {
  width: 320px;
  height: 362px;

}

.main-footer__media {
  background-color: #F2F2F2;
}

/*Лого*/
.logo-footer {
  padding-top: 39px;
  margin-bottom: 32px;
}

.social__social-media {
  display: flex;
  text-align: center;
}

.social__list {
  list-style-type: none;
  display: flex;
  margin-left: 94px;
  margin-bottom: 43px;
  padding: 0;
}

.social__item {
  display: flex;
  margin-right: 24px;
}

.copyright {
  display: flex;
  margin-left: 19px;
  padding: 0;
  padding-bottom: 20px;
}

.copyright__html-academy {
  display: flex;
  justify-content: space-between;
  width: 281px;
  height: 34px;
  margin: 0;
  padding: 0;
}

.copyright__text {
  font-family: 'Arial';
  text-decoration: none;
  color: $text-color;
}
