/* Форма - цель*/
/*Текст*/
.gain-weight {
  margin-left: 44px;
}

/*Набор веса*/
.gain-weight__form {
  padding-left: 0;
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
