/*Каталог подарок*/

/*Фото кот в чехле*/
.get-gift {
  position: relative;
  background-image: url("../images/photo/cat_case_mobile.jpg");
  background-repeat: no-repeat;
  height: 290px;
  width: 280px;
  z-index: 1;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: url("../images/photo/cat_case_tablet.jpg");
    background-repeat: no-repeat;
    height: 200px;
    width: 707px;
    z-index: 1;
    margin-left: 31px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    background-image: url("../images/photo/cat_case_desktop.jpg");
    background-repeat: no-repeat;
    height: 289px;
    width: 246px;
    z-index: 1;
    margin-left: 1085px;
    margin-top: -240px;
  }
}

/*Зеленый фон*/
.get-gift::after {
  position: absolute;
  content: "";
  background-color: $catalog-get-gift-background-color;
  height: 290px;
  width: 280px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    height: 200px;
    width: 707px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    height: 289px;
    width: 246px;
    z-index: -1;
  }
}

/*Иконка подарка*/
.get-gift__icon {
  margin-top: 58px;
  margin-bottom: 47px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
    float: left;
    margin-left: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    float: left;
    margin-left: 83px;
  }
}

/*Текст*/
.get-gift__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: $catalog-color-text;
  width: 161px;
  margin-left: 58px;
  margin-top: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
    width: 161px;
    height: 60px;
    text-align: left;
    padding-top: 71px;
    padding-left: 265px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    width: 161px;
    height: 60px;
    text-align: center;
  }
}
