/*Главная Цель*/

/*Цель*/
.goal {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 17px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 774px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 135px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 140px;
    width: 1220px;
    height: 374px;
  }
}

.goal__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
