/*Главная Инструкция*/

.instruction {
  display: flex;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-top: 71px;
    margin-left: 110px;
    min-width: 1224px;
    margin-bottom: 20px;
    height: 372px;
  }
}

.instruction__wrapper {
  min-width: 279px;

  @media (min-width: $tablet-width) {
    min-width: 629px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1224px;
  }
}

/*Заголовок*/
.instruction__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: none;
  color: $main-subtitle-color;
  margin-right: 0;
  margin-bottom: 40px;
  width: 225px;
  text-align: left;
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-left: 0;
    margin-bottom: 23px;
    height: 60px;
    width: 375px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-left: 0;
    margin-bottom: 23px;
    height: 60px;
    width: 375px;
    text-align: left;
  }
}

/*Список общий*/
.instruction__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 629px;
    height: 597px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1224px;
    height: 372px;
  }
}

.instruction__item {
  display: flex;
  position: relative;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 246px;
    height: 280px;
  }
}

/*Текст списков*/
.instruction__description {
  margin: 0;
  margin-left: 80px;
  width: 199px;

  @media (min-width: $tablet-width) {
    position: absolute;
    text-align: left;
    width: 245px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 161px;
  }
}

/*Иконки*/
/*Лист*/
.instruction__item--nutrients {
  background-image: url("../images/icon/icon_leaf_mobile.svg");
  width: 260px;
  height: 60px;
  background-repeat: no-repeat;
  margin-bottom: 20px;


  @media (min-width: $tablet-width) {
    background-image:
      url("../images/icon/icon_leaf_tablet.svg"),
      url("../images/numbers/instruction_stage_1.svg");
    background-repeat: no-repeat;
    background-position: 0 50px, 123px 50px;
    width: 230px;
    height: 280px;
    margin-right: 153px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../images/icon/icon_leaf_tablet.svg"),
      url("../images/numbers/instruction_stage_1.svg");
    background-repeat: no-repeat;
    background-position: 0 50px, 123px 50px;
    width: 230px;
    height: 280px;
    margin-right: 94px;
  }
}

/*Стакан*/
.instruction__item--boiling-water {
  background-image: url("../images/icon/icon_glass_mobile.svg");
  width: 276px;
  height: 60px;
  background-repeat: no-repeat;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    background-image:
      url("../images/icon/icon_glass_tablet.svg"),
      url("../images/numbers/instruction_stage_2.svg");
    background-repeat: no-repeat;
    background-position: 0 50px, 120px 50px;
    width: 245px;
    height: 280px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../images/icon/icon_glass_tablet.svg"),
      url("../images/numbers/instruction_stage_2.svg");
    background-repeat: no-repeat;
    background-position: 0 50px, 119px 50px;
    width: 230px;
    height: 280px;
    margin-right: 94px;
  }
}

/*Вилка и нож*/
.instruction__item--food {
  background-image: url("../images/icon/icon_fork_knife_mobile.svg");
  width: 276px;
  height: 60px;
  background-repeat: no-repeat;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    background-image:
      url("../images/icon/icon_fork_knife_tablet.svg"),
      url("../images/numbers/instruction_stage_3.svg");
    background-repeat: no-repeat;
    background-position: 0 50px, 122px 50px;
    width: 245px;
    height: 280px;
    margin-right: 143px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../images/icon/icon_fork_knife_tablet.svg"),
      url("../images/numbers/instruction_stage_3.svg");
    background-repeat: no-repeat;
    background-position: 0 50px, 119px 50px;
    width: 230px;
    height: 280px;
    margin-right: 94px;
  }
}

/*Будильник*/
.instruction__item--changes {
  background-image: url("../images/icon/icon_alarm_mobile.svg");
  width: 277px;
  height: 60px;
  background-repeat: no-repeat;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    background-image:
      url("../images/icon/icon_alarm_tablet.svg"),
      url("../images/numbers/instruction_stage_4.svg");
    background-repeat: no-repeat;
    background-position: 0 50px, 122px 50px;
    width: 241px;
    height: 280px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../images/icon/icon_alarm_tablet.svg"),
      url("../images/numbers/instruction_stage_4.svg");
    background-repeat: no-repeat;
    background-position: -2px 50px, 111px 50px;
    width: 230px;
    height: 280px;
    margin: 0 auto;
  }
}
