/*Главная Живой пример*/

/*Общий блок*/
.live-example {
  display: flex;
  margin: 0;
  background-color: $main-live-example-background-color-tablet;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    height: 561px;
  }
}

.live-example__wrapper {
  height: 641px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 707px;
    height: 1063px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin-bottom: 0;
  }
}

.live-example__description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 624px;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: #fff;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 254px;
    margin: 0;
    margin-bottom: 69px;
    background-color: #fff;
  }
}

/*Заголовок*/
.live-example__title-example {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: none;
  color: $main-subtitle-color;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  height: 40px;
  width: 225px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    width: 325px;
    margin-bottom: 63px;
    margin-top: 47px;
    margin-left: 29px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    width: 325px;
    margin-bottom: 76px;
    margin-left: 107px;
  }
}

.live-example__block-history {
  @media (min-width: $desktop-width) {
    background-color: $main-block-history;
    width: 1440px;
    height: 462px;
    margin: 0;
    padding-top: 71px;
  }
}

/*Текст*/
.live-example__text-example {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin: 0 auto;
  margin-left: 0 auto;
  margin-bottom: 20px;
  margin-right: 20px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    margin-right: 30px;
    margin-left: 29px;
    width: 702px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    min-width: 436px;
    width: 436px;
    text-align: left;
    background-color: $main-block-history;
    margin: 0;
    margin-left: 107px;
    margin-bottom: 69px;
  }
}

/*Результаты*/
.live-example__result {
  display: flex;
  text-align: left;
  width: 280px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 405px;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 403px;
    margin: 0 auto;
    margin-left: 79px;
  }
}

/*КГ*/
.live-example__kilogram {
  display: block;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main-result-color;
  margin-top: 2px;
  width: 124px;
  background-image: url("../images/decoration/live-example_decoration-line.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    margin-left: 30px;
    margin-right: 45px;
    background-image: url("../images/decoration/live-example_decoration-line_tablet.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    background-image: url("../images/decoration/live-example_decoration-line_tablet.svg");
    background-repeat: no-repeat;
  }
}

/*5кг*/
.live-example__text-kilogram {
  margin: 0;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    width: 155px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 7px;
  }
}

/*Текст кг*/
.live-example__text-weight {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: none;
  color: $text-color;
  width: 77px;
  margin-left: 20px;
  margin-top: 6px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 98px;
    margin-top: 10px;
    margin-left: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
    width: 98px;
  }
}

/*60дней*/
.live-example__result-days {
  display: block;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main-result-color;
  margin-left: 27px;
  margin-top: 2px;
  width: 124px;
  background-image: url("../images/decoration/live-example_decoration-line.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../images/decoration/live-example_decoration-line_tablet.svg");
    background-repeat: no-repeat;
    width: 164px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../images/decoration/live-example_decoration-line_tablet.svg");
    background-repeat: no-repeat;
    width: 164px;
    margin-left: 0;
  }
}


/*Дни*/
.live-example__text-days {
  display: block;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main-result-color;
  margin-top: 15px;
  margin-left: 4px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 37px;
    width: 102px;
    margin-left: 30px;
  }
}

/*Текст 60 дней*/
.live-example__text-time {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: none;
  color: $text-color;
  width: 59px;
  margin-top: 6px;
  margin-left: 33px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
    margin-left: 16px;
    margin-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
  }
}

/*Затраты итого*/
.live-example__spent {
  margin: 0;
  padding: 0;
  letter-spacing: -0.02em;
  padding-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  color: $main-result-color;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 181px;
    line-height: 25px;
    padding-bottom: 20px;
    text-align: end;
    font-size: 20px;
    margin-top: -68px;
    margin-left: 547px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: auto;
    text-align: start;
    gap: 65px;
    margin-left: 115px;
    margin-top: 53px;
  }
}

/*Изображения котов*/
.live-example__comparison {
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  --position: 50%;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: auto;
  }
}

.live-example__slider {
  max-width: 800px;
  aspect-ratio: 280/256;

  @media (min-width: $tablet-width) {
    aspect-ratio: 560/512;
  }
}

.content {
  margin-top: 0;
  margin-left: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-top: -155px;
    margin-left: 97px;
    width: 580px;
  }

  @media (min-width: $desktop-width) {
    width: 587px;
    margin-top: 1658px;
    margin-left: 765px;
  }
}

.live-example__photo-cat {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.live-example__photo-cat--before {
  position: absolute;
  inset: 0;
  width: var(--position);
  object-position: left;
}

.live-example__photo-cat--after {
  object-position: right;
}

.live-example__button {
  position: absolute;
  inset: 0;
  width: 0.2rem;
  height: 100%;
  background-color: #666666;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
  }
}

.live-example__button-cat {
  margin-left: -17px;

  @media (min-width: $tablet-width) {
    margin-top: 125px;
    margin-left: -20px;
  }
}
