/*Footer*/

/*Лого*/
.logo-footer {
  padding-top: 39px;
  margin-bottom: 24px;
  border-bottom: 1px solid $border-color-fourth;
  height: 56px;
  width: 320px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-bottom: 55px;
    margin-top: 62px;
    margin-right: 52px;
    padding: 0;
    border-bottom: none;
    width: 128px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-bottom: 58px;
    margin-top: 42px;
    margin-right: 309px;
    padding: 0;
    text-align: left;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-footer__logo-text {
  @media (min-width: $tablet-width) {
    width: 129px;
  }
}
