/*Footer*/

/*Лого*/
.logo-footer {
  padding-top: 39px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-bottom: 55px;
    margin-top: 63px;
    margin-right: 155px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-bottom: 58px;
    margin-top: 57px;
    margin-right: 413px;
    padding: 0;
  }
}
