/*Footer*/

/*Лого*/
.logo-footer {
  padding-top: 39px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  height: 56px;
  width: 320px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-bottom: 55px;
    margin-top: 63px;
    margin-right: 52px;
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-bottom: 58px;
    margin-top: 63px;
    margin-right: 220px;
    padding: 0;
    text-align: left;
  }
}
