/*Весь блок header*/
.main-header {
  background-color: $main-header-background-color;
  color: rgb(255, 7, 7);
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 17px;
}

/*Логотипы*/
.main-header__logo {
  margin-left: 0;
  margin-right: 56px;
  padding: 0;
  height: 37px;

  &:hover {
    background-color: yellow;
  }
}

.main-header__logo-text {
  margin-left: 0;
  margin-top: 13px;
  margin-right: 65px;
  padding: 0;
  height: 18px;
}

.main-header__menu {
  width: 100%;
}
