/*Весь блок header*/
.main-header {
  background-color: $main-header-background-color;
  color: $text-color;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 0;
  min-height: 38px;
  width: 320px;
  border-bottom: 1px solid $border-color-second;
  height: 53px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-top: 24px;
    margin-right: 30px;
    margin-bottom: 17px;
    height: 95px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-top: 53px;
    margin-right: 110px;
    margin-bottom: 38px;
    border-bottom: none;
    width: 1329px;
  }
}

/*Логотипы*/
.main-header__logo {
  margin-right: 56px;
  margin-left: 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
    margin-bottom: 64px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 12px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

/*Размеры для логотипа*/
.main-header__logo img {
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 72px;
    height: 59px;
  }
}

/*Текстовый логотип*/
.main-header__logo-text {
  margin-left: 0;
  margin-top: 13px;
  margin-right: 77px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
    margin-right: 91px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
    margin-right: 537px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

/*Размеры для текстового логотипа*/
.main-header__logo-text img {
  height: 18px;
  width: 101px;

  @media (min-width: $tablet-width) {
    height: 18px;
    width: 101px;
  }

  @media (min-width: $desktop-width) {
    width: 119px;
    height: 22px;
  }
}

/*Блок меню*/
.main-header__menu {
  height: 16px;
  width: 24px;

  @media (min-width: $tablet-width) {
    height: 36px;
    width: 404px;
  }

  @media (min-width: $desktop-width) {
    height: 40px;
    width: 478px;
  }
}
