/*Форма заявки*/

/*Заголовок Подбор программы*/
.program-selection__title {
  display: flex;
  text-align: left;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  color: $form-title-color;
  margin-left: 20px;
  margin-top: 27px;
  margin-bottom: 37px;
}

/*Подзаголовок Заполните анкету*/
.program-selection__subtitle {
  display: flex;
  text-align: left;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $form-subitle-color;
  width: 226px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 39px;
}

/*Форма Имя, вес, возраст*/
.cat-data__form {
  text-align: left;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $text-color;
  width: 280px;
  margin-left: 20px;
}

/*Имя*/
.cat-data__name {
  margin-right: 13px;
}

/* Имя поле*/
.cat-data__field-name {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 46px;
  width: 201px;
  margin-bottom: 13px;
}

/*Вес*/
.cat-data__weight {
  margin-right: 13px;
}

/*Вес поле*/
.cat-data__field-weight {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 46px;
  width: 180px;
  margin-bottom: 13px;
}

/*Возраст*/
.cat-data__age {
  margin-right: 13px;
}

/*Возраст поле*/
.cat-data__field-age {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  height: 46px;
  margin-bottom: 13px;
  width: 143px;
}
