/*Footer*/

.main-footer {
  margin-top: 0;

  @media (min-width: $tablet-width) {
    width: 748px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -98px;
  }
}

.main-footer__media {
  background-color: $footer-background-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 1440px;
    margin-left: 0;
  }
}
