/*Навигация*/

.main-navigation {
  display: flex;
  padding: 0;
  list-style: none;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    height: 34px;
  }

  @media (min-width: $desktop-width) {
    height: 34px;
  }
}

/*Блок меню*/
.main-navigation__list {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 56px;
  margin-left: -288px;
  z-index: 2;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    min-width: 440px;
    height: 36px;
    margin: 0 auto;
    margin-top: 18px;
    margin-left: 0;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: 515px;
    margin-top: 22px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
  }
}

.main-navigation__list::before {
  @media (min-width: $desktop-width) {
    background-image: url("../images/photo/promo-background-cat_desktop.jpg");
    background-repeat: no-repeat;
  }
}

/*Кнопка меню*/
.main-navigation__toggle {
  width: 24px;
  height: 16px;
  background-color: $menu-button-color;
  position: absolute;
  margin-top: 14px;
  margin-left: 0;
  z-index: 2;
  cursor: pointer;
  box-shadow: none;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

/*Кнопка в закрытом состоянии*/

.main-navigation--closed .main-navigation__wrapper {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  left: -2px;
  top: 0;
  width: 24px;
  height: 1px;
  background-color: $menu-line-color;
  position: absolute;
  box-shadow: 0 8px 0 0 $menu-line-color, 0 16px 0 0 $menu-line-color;

  @media (max-width: $mobile-width-only) {
    .main-navigation--closed .site-list__item {
      display: none;

      &--active {
        display: block;
      }
    }
  }
}


/*Кнопка в раскрытом состоянии*/
.main-navigation--opened {
  display: block;
}

.main-navigation--opened .main-navigation__toggle {
  margin-top: 14px;
  margin-left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: -2px;
    width: 24px;
    height: 1px;
    background-color: $menu-line-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/*Если не работает JS*/
.main-navigation--nojs .main-nav__toggle {
  display: none;
}

.main-navigation--nojs .main-navigation__wrapper {
  position: static;
  min-height: 0;
}

.main-navigation--nojs .site-list__item {
  display: block;
}

.main-navigation--nojs .site-list__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}
