/*Каталог Показать еще 100500 товаров*/

/*Общее*/
.more-items {
  margin: 25px 20px 25px 20px;
}

/*Заголовок*/
.more-items__title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $catalog-subtitle-font-size;
  line-height: $catalog-subtitle-line-height;
  text-transform: uppercase;
  color: $catalog-more-items-color;
  width: 204px;
  margin: 23px 37px 8px 37px;
}

/*Текст*/
.more-items__text {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $catalog-text-font-size;
  line-height: $catalog-text-line-height;
  text-transform: none;
  color: $text-color;
  width: 221px;
  margin-left: 28px;
  margin-bottom: 21px;
  margin-top: 0;
}

/*Кнопка Показать все*/
.more-items__button-show-all {
  background-color: $catalog-button-show-all-background-color;
  border: none;
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-color;
  padding: 10px 94px 10px 94px;
  margin-bottom: 35px;
}
