/*Каталог*/

/*Продуктовые карточки*/
.product-card {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 780px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1310px;
  }
}

.product-card__information {
  @media (min-width: $tablet-width) {
    height: 511px;
    margin-bottom: 60px;
  }

  @media (min-width: $tablet-width) {
    height: 511px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    height: 511px;
    margin-bottom: 0;
  }
}

/*Информация*/
/*Оранжевый корм 500г*/
.product-card__specification-orange-pro-500g {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  height: 112px;
  margin-left: 20px;
  margin-bottom: 79px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 511px;
    margin-left: 0;
    margin-right: 60px;
    padding-left: 0;
    border: none;
    background-color: $catalog-background-color;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 511px;
    margin-right: 80px;
    margin-bottom: 0;
  }
}

/*Картинка продукта*/

.product-card__photo-500g {
  position: absolute;
  margin-left: 40px;
  width: 68px;
  height: 86px;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    height: 172px;
  }
}

.product-card__specification-orange-pro-500g::before {
  @media (min-width: $tablet-width) {
    height: 430px;
  }
}

.product-card__photo-1000g {
  position: absolute;
  margin-left: 40px;
  width: 84px;
  height: 101px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

/*Оранжевый корм 1000г*/
.product-card__specification-orange-pro-1000g {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  height: 112px;
  margin-left: 20px;
  margin-bottom: 95px;
  border-top: 1px solid $border-color-second;


  @media (min-width: $tablet-width) {
    width: 324px;
    height: 511px;
    margin-left: 0;
    margin-right: 60px;
    padding-left: 0;
    border: none;
    background-color: $catalog-background-color;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 511px;
    margin-right: 80px;
  }
}

/*Зеленый корм 500г*/
.product-card__specification-green-pro-500g {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  height: 112px;
  margin-left: 20px;
  margin-bottom: 95px;
  border-top: 1px solid $border-color-second;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 511px;
    margin-left: 0;
    margin-right: 60px;
    padding-left: 0;
    border: none;
    background-color: $catalog-background-color;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 511px;
    margin-right: 80px;
  }
}

/*Зеленый корм 1000г*/
.product-card__specification-green-pro-1000g {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  height: 112px;
  margin-left: 20px;
  margin-bottom: 100px;
  border-top: 1px solid $border-color-second;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 511px;
    margin-left: 0;
    margin-right: 60px;
    padding-left: 0;
    border: none;
    background-color: $catalog-background-color;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 511px;
    margin-right: 80px;
  }
}

/*Синий корм 500г*/
.product-card__specification-blue-slim-500g {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  height: 112px;
  margin-left: 20px;
  margin-bottom: 95px;
  border-top: 1px solid $border-color-second;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 511px;
    margin-left: 0;
    margin-right: 60px;
    padding-left: 0;
    border: none;
    background-color: $catalog-background-color;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 511px;
    margin-right: 80px;
    margin-top: 63px;
  }
}

/*Синий корм 1000г*/
.product-card__specification-blue-slim-1000g {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  height: 112px;
  margin-left: 20px;
  margin-bottom: 95px;
  border-top: 1px solid $border-color-second;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 511px;
    margin-left: 0;
    margin-right: 60px;
    padding-left: 0;
    border: none;
    background-color: $catalog-background-color;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 511px;
    margin-right: 80px;
    margin-top: 63px;
  }
}

/*Фиолетовый корм 500г*/
.product-card__specification-violet-slim-500g {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  height: 112px;
  margin-left: 20px;
  margin-bottom: 95px;
  border-top: 1px solid $border-color-second;


  @media (min-width: $tablet-width) {
    width: 324px;
    height: 511px;
    margin-left: 0;
    margin-right: 60px;
    padding-left: 0;
    border: none;
    background-color: $catalog-background-color;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 511px;
    margin-right: 80px;
    margin-top: 63px;
  }
}

/*Описание*/
.product-card__specification {
  display: block;
  flex-wrap: wrap;
  width: 142px;
  text-align: left;
  margin-left: 140px;
  height: 112px;

  @media (min-width: $tablet-width) {
    width: 251px;
    height: 157px;
    margin: 0 auto;
    margin-top: 234px;
  }

  @media (min-width: $desktop-width) {
    width: 167px;
    height: 83px;
    margin: 0 auto;
    margin-top: 234px;
    margin-bottom: 33px;
  }
}

/*Заголовок*/

.product-card__title-first {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $catalog-subtitle-font-size;
  line-height: $catalog-subtitle-line-height;
  text-transform: uppercase;
  color: $catalog-items-color;
  width: 76px;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 2px;
  padding-left: 140px;

  @media (min-width: $tablet-width) {
    width: 130px;
    text-align: center;
    padding-top: 236px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 24px;
    height: 47px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-left: 59px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 21px;
    padding-left: 0;
    width: 130px;
  }
}

.product-card__title {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $catalog-subtitle-font-size;
  line-height: $catalog-subtitle-line-height;
  text-transform: uppercase;
  color: $catalog-items-color;
  width: 76px;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 18px;
  padding-left: 140px;

  @media (min-width: $tablet-width) {
    width: 130px;
    text-align: center;
    padding-top: 236px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 24px;
    height: 47px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-left: 58px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 21px;
    padding-left: 5px;
    padding-top: 216px;
    width: 130px;
  }
}

/*Масса, вкус, цена*/
.product-card__description {
  width: 142px;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  margin-left: 142px;

  @media (min-width: $tablet-width) {
    width: 251px;
    height: 80px;
    justify-content: space-between;
    margin-left: 35px;
    font-size: 16px;
    line-height: 16px;
    margin-top: -30px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    justify-content: space-between;
  }
}


.product-card__colum-1 {
  text-align: left;
}

.product-card__colum-2 {
  text-align: right;
}

/*Текст*/
.product-card__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $catalog-text-font-size;
  line-height: $catalog-text-line-height;
  text-transform: none;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

/*Кнопка Заказать*/
.product-card__button-card {
  width: 280px;
  background-color: $catalog-button-background-color;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $catalog-subtitle-font-size;
  line-height: $catalog-subtitle-line-height;
  text-transform: uppercase;
  color: $catalog-color-text;
  height: 40px;
  margin-top: 13px;
  cursor: pointer;
  border: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    height: 40px;
    width: 248px;
    margin-left: 39px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    height: 40px;
    width: 168px;
    margin-left: 39px;
    margin-top: 0 auto;
  }

  &:hover {
    background: #5eaa2f;
  }

  &:active {
    background: #5eaa2f;
  }
}
