/*Каталог*/

/*Заголовок*/
.product-catalog__title {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  color: $catalog-title-color;
  width: 259px;
  text-align: left;
  margin-left: 20px;
  margin-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 60px;
    line-height: 60px;
    width: 431px;
    margin-left: 30px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 60px;
    line-height: 60px;
    width: 431px;
    margin-left: 30px;
    margin-bottom: 82px;
  }
}
