/*Форма заявки*/

.program-selection {
  min-width: 259px;

  @media (min-width: $tablet-width) {
    min-width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 1390px;
  }
}

.program-selection__wrapper {
  margin-left: 20px;
  margin-right: 20px;


  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 78px;
    float: left;
    height: 438px;
    width: 407;
  }
}

/*Заголовок Подбор программы*/
.program-selection__title {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  color: $form-title-color;
  margin-bottom: 37px;
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 5px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 56px;
  }
}

/*Подзаголовок Заполните анкету*/
.program-selection__subtitle {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: $form-text-line-height;
  text-transform: uppercase;
  color: $form-subitle-color;
  min-width: 226px;
  margin-top: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 323px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-bottom: 66px;
  }
}
