/*Главная*/
.promo {
  margin: 0 auto;
  padding: 0;
  height: 480px;

  @media (min-width: $tablet-width) {
    height: 810px;
  }

  @media (min-width: $desktop-width) {
    height: 499px;
    margin-top: 20px;
  }
}

/*Фото с котом*/
.promo__description {
  position: relative;
  background-image: url("../images/photo/promo-background-cat.jpg");
  background-repeat: no-repeat;
  background-color: inherit;
  height: 302px;
  width: 320px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    background-image: none;
    height: 181px;
  }

  @media (min-width: $desktop-width) {
    background-image: none;
    height: 181px;
  }
}

/*Зеленый фон*/
.promo__description::after {
  position: absolute;
  content: "";
  background-color: $main-background-color;
  height: 302px;
  width: 320px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    background-color: $main-promo-description-tablet-desktop;
    height: 181px;
  }

  @media (min-width: $desktop-width) {
    background-color: $main-promo-description-tablet-desktop;
    height: 181px;
  }
}

/*Заголовок*/
.promo__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: none;
  color: $main-promo-title-subtitle-color;
  margin-left: 36px;
  margin-top: 0;
  margin-right: 36px;
  margin-bottom: 25px;
  padding-top: 27px;
  width: 250px;

  @media (min-width: $tablet-width) {
    color: $main-promo-title-subtitle-color-tablet-desktop;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
    width: 416px;
    text-align: left;
    margin: 0 auto;
    margin-left: 117px;
    margin-bottom: 41px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    color: $main-promo-title-subtitle-color-tablet-desktop;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
    width: 416px;
    text-align: left;
    margin: 0 auto;
    margin-left: 190px;
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 0;
  }
}

/*Подзаголовок*/
.promo__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: $main-promo-title-subtitle-color;
  margin-left: 61px;
  margin-top: 0;
  margin-right: 61px;
  margin-bottom: 164px;

  @media (min-width: $tablet-width) {
    color: $main-promo-title-subtitle-color-tablet-desktop;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    width: 283px;
    text-align: left;
    margin: 0 auto;
    margin-left: 119px;
    margin-bottom: 20px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    color: $main-promo-title-subtitle-color-tablet-desktop;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    width: 283px;
    text-align: left;
    margin: 0 auto;
    margin-left: 190px;
    margin-bottom: 52px;
    padding: 0;
  }
}

/*Оранжевый корм*/
.promo__image {
  position: absolute;
  height: 270px;
  width: 280px;
  right: 320;
  left: 320;
  margin-top: -142px;
  margin-left: 22px;
  z-index: 1;
  background-image: url("../images/photo/boxing_orange_chicken_mobile.png");

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 1;
    background-image: url("../images/photo/boxing_orange_chicken_tablet.png");
    width: 709px;
    height: 609px;
    margin-top: 22px;
    margin-left: 28px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    margin-left: 558px;
    background-image: url("../images/photo/boxing_orange_chicken_desktop.png");
    width: 552px;
    height: 499px;
    margin-top: -265px;
  }
}

/*Кнопка Подобрать программу*/
.promo__button-main {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: $main-button-background-color;
  color: $main-button-color;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 44px 7px 44px;
  margin-top: 136px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  width: 280px;
  height: 40px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 2;
    width: 244px;
    height: 54px;
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    margin-left: 122px;
    margin-top: 49px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;
    width: 244px;
    height: 54px;
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    margin-left: 190px;
    margin-top: 50px;
  }

  &:hover {
    background: #5eaa2f;
  }

  &:active {
    background: #5eaa2f;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    height: 181px;
  }
}

.promo::before {
  @media (min-width: $desktop-width) {
    background-image: url("../images/photo/promo-background-cat.jpg");
    background-size: cover;
    z-index: 1;
  }
}
