/*Форма Дополнительно*/

/*Обязательные поля*/
.required-fields {
  display: flex;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: $form-required-fields-color;
  text-align: left;
  margin-left: 82px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
    width: 180px;
    margin-bottom: 92px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 43px;
  }
}
