/*Форма Дополнительно*/

/*Кнопка отправить*/
.send-form {
  width: 280px;
  background-color: $form-button-background-color;
  border: none;
  margin-top: 13px;
  margin-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: 20px;
  text-transform: uppercase;
  color: $form-color-text;
  height: 40px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: $form-text-font-size-tablet-desktop;
    width: 282px;
    height: 52px;
    padding: 7px 45px 7px 45px;
    margin-left: 72px;
    margin-right: 61px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: $form-text-font-size-tablet-desktop;
    width: 568px;
    height: 52px;
    margin-left: 0;
    text-align: center;
    margin-right: 81px;
    margin-top: 26px;
    margin-left: 107px;
  }
}
