/*Форма Дополнительно*/

/*Кнопка отправить*/
.send-form {
  width: 280px;
  background-color: $form-button-background-color;
  border: none;
  margin-top: 13px;
  margin-bottom: 21px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $form-text-font-size;
  line-height: 20px;
  text-transform: uppercase;
  color: $form-color-text;
  height: 40px;
}
