/*Навигация li*/
.site-list__item {
  position: relative;
  display: block;
  min-width: 181px;
  padding: 22px 69px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  color: $menu-line-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $menu-button-color;
  border-top: 1px solid $border-color-second;
  font-weight: bold;

  &--active {
    position: relative;
    padding-left: 54px;
    padding-right: 54px;
    width: auto;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 12px;
    margin-left: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    min-width: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    justify-content: space-between;
    font-weight: normal;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        background: $line-color-tablet;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0 auto;
    margin-right: 21px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    background-color: inherit;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        background: #fff;
      }
    }
  }
}

.site-list__link {
  &:hover {
    opacity: 0.6;
    color: $menu-line-color;
  }

  &:active {
    opacity: 0.3;
    color: $menu-line-color;
  }
}
