/*Главная Цель*/

/*Блок Похудение*/
.weight-loss {
  display: inline-block;
  background-color: $main-goal-background-color;
  margin-bottom: 20px;
  background-image: url("../images/icon/icon_cat_sit_mobile.svg");
  background-repeat: no-repeat;
  background-position: 22px 21px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 372px;
    background-image: url("../images/icon/icon_cat_sit_tablet.svg");
    background-repeat: no-repeat;
    background-position: 446px 69px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 372px;
    background-image: url("../images/icon/icon_cat_sit_desktop.svg");
    background-repeat: no-repeat;
    background-position: 52px 41px;
  }
}

/*Заголовок Похудение*/
.weight-loss__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $main-subtitle-color;
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 78px;
  margin-left: 64px;
  height: 37px;
  width: 164px;

  @media (min-width: $tablet-width) {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: $main-subtitle-color;
    margin-top: 62px;
    margin-left: 53px;
    height: 37px;
  }

  @media (min-width: $desktop-width) {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: $main-subtitle-color;
    margin-top: 77px;
    margin-left: 214px;
  }
}

/*Текст для Похудения*/
.weight-loss__text {
  display: flex;
  position: relative;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin-top: 35px;
  margin-left: 20px;
  margin-bottom: 23px;
  height: 90px;
  width: 232px;

  @media (min-width: $tablet-width) {
    display: flex;
    position: relative;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-left: 52px;
    margin-bottom: 33px;
    margin-top: 25px;
    height: 96px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: relative;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-left: 52px;
    margin-bottom: 5px;
    margin-top: 73px;
    height: 72px;
    width: 467px;
  }
}

/*Декоративная линия*/
.weight-loss__decorative-line-main {
  width: 240px;

  @media (min-width: $tablet-width) {
    width: 0;
    height: 0;
  }

  @media (min-width: $desktop-width) {
    width: 0;
    height: 0;
  }
}

/* Блок Каталог*/
.weight-loss__catalog {
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    width: 178px;
    margin-left: 52px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 178px;
    margin-left: 52px;
    padding: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

/*Каталог Slim*/
.weight-loss__catalog-text {
  display: flex;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 18px;
  margin-right: 16px;
  margin-left: 20px;
  color: $main-catalog-link-color;
  text-decoration: none;
  height: 24px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    width: 108px;
    margin-right: 25px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    width: 108px;
    margin-left: 3px;
  }
}

/*Декоративная стрелка*/
.weight-loss__arrow {
  margin-top: 2px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}
