html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $text-color;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background-color: $main-header-background-color;
  min-width: 320px;
}
