/*Body*/
$main-header-background-color: #ffffff;
$text-color: #444444;

/*Страница Главная*/
$main-button-background-color: #68B738;
$main-background-color: rgba(104, 183, 56, 0.85);
$main-icons-background-color: #68B738;
$main-button-color: #ffffff;
$main-goal-background-color: #F2F2F2;
$main-subtitle-color: #000000;
$main-catalog-link-color: #000000;
$main-live-example-background-color: #EAEAEA;
$main-result-color: #000000;
$main-promo-title-subtitle-color: #ffffff;

/*Страница Каталог*/
$catalog-title-color: #000000;
$catalog-more-items-color: #000000;
$catalog-button-show-all-background-color: #F2F2F2;

$catalog-text-font-size: 12px;
$catalog-text-line-height: 16px;

$catalog-subtitle-font-size: 16px;
$catalog-subtitle-line-height: 20px;

$catalog-button-background-color: #68B738;

$catalog-goods-font-size: 16px;
$catalog-goods-line-height: 16px;

$catalog-items-color: #222222;
$catalog-color-button-text: #ffffff;
$catalog-color-text: #ffffff;

$catalog-get-gift-background-color: rgba(104, 183, 56, 0.85);

/*Страница Форма*/
$form-title-color: #000000;
$form-subitle-color: #000000;
$form-text-color: #000000;
$form-required-fields-color: #000000;

$form-text-font-size: 16px;
$form-text-line-height: 18px;

$form-subtitle-font-size: 24px;
$form-subtitle-line-height: 26px;

$form-button-background-color: #68B738;
$form-goal-color: #222222;
$form-color-text: #ffffff;

/*Wrapper*/
$wrapper-background-color: #ffffff;

/*Fopter*/
$footer-contacts__title-color:#111111;
$footer-background-color: #F2F2F2;
