.wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: $wrapper-background-color;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
